# Entorn virtual
venv/
ENV/
env/

# Fitxers de compilació Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fitxers secrets o de configuració
.env
**/*.env

# Fitxers de base de dades locals
*.sqlite3

# Logs
*.log

# Fitxers del sistema operatiu
.DS_Store
Thumbs.db

# Fitxers temporals d'editor
.vscode/
.idea/

