{% extends 'gestio/base.html' %}
{% block title %}Registre Professor - Duoda Gestió{% endblock %}
{% block content %}
<div class="card">
    <h1>Registre de Nou Professor</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Nom d'usuari</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="id_password">Contrasenya</label>
            {{ form.password }}
        </div>
        <div class="form-group">
            <label for="id_confirm_password">Confirma Contrasenya</label>
            {{ form.confirm_password }}
        </div>
        <hr>
        <div class="form-group">
            <label>Nom</label>
            {{ form.nom }}
        </div>
        <div class="form-group">
            <label>Cognoms</label>
            {{ form.cognoms }}
        </div>
        <div class="form-group">
            <label>Email</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label>Telèfon</label>
            {{ form.telefon }}
        </div>
        <div class="form-group">
            <label>Preu per hora (€)</label>
            {{ form.preu_hora }}
        </div>
        <button type="submit">Registrar-se</button>
    </form>
</div>
{% endblock %}